.wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

@keyframes bounceChar {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-8px); }
}

.char {
  display: inline-block;
  animation: bounceChar 0.6s ease-in-out infinite;
}



.testimonial-pagination {
    display: flex;
    align-items: center;
    gap: 8px;
}

.testimonial-pagination .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
    background: #ef9595; 
    opacity: 1;
    position: relative;
}

.testimonial-pagination .swiper-pagination-bullet-active {
    background: #ef4444;
}

.testimonial-pagination .swiper-pagination-bullet-active::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    border: 2px solid #ef4444;
    border-radius: 9999px;
    transform: translate(-50%, -50%);
}
